.locker-container {
  width: 100%;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
}
.locker-btn-box {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 2.12%;
}
.btn-create-locker {
  border: 0;
  padding: 7px 17px;
  color: white;
  background-color: #0297fb;
  border-radius: 4px;
  margin-right: 12px;
  cursor: pointer;
}
.btn-delete-locker {
  border: 0;
  padding: 7px 17px;
  color: white;
  background-color: #0297fb;
  border-radius: 4px;
  cursor: pointer;
}
.btn-create-locker:focus,
.btn-delete-locker:focus {
  outline: none;
}
.btn-create-locker:hover,
.btn-delete-locker:hover {
  background-color: #4db8ff;
}
.locker-list {
  display: flex;
  flex-wrap: wrap;
}
.locker-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  max-width: 160px;
  height: 150px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #dadada;
  margin: 0 2.06% 25px 2.06%;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.locker-list-item:hover {
  background-color: #0297fb;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.locker-list-item:hover .locker-number {
  color: #ffffff;
}
.locker-number {
  color: #0297fb;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 20px;
}

.locker-modal {
  position: fixed;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #dadada;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.05);
  padding: 20px 30px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.locker-modal-title {
  color: #0297fb;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 22px;
  cursor: default;
}
.locker-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.locker-input-box input {
  width: 220px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-weight: 300;
}
.locker-modal button {
  border: none;
  border-radius: 4px;
  background-color: #0297fb;
  color: #ffffff;
  padding: 5px 20px;
  cursor: pointer;
}
.locker-modal button:hover {
  background-color: #4db8ff;
}
.locker-modal .fa-times {
  position: absolute;
  color: #0297fb;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.locker-modal-msg {
  color: #ff3434;
  font-size: 14px;
  margin-bottom: 10px;
}
.locker-loading-msg {
  color: #0297fb;
  font-size: 14px;
}
